* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  list-style: none;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  * {
    font-size: 16px;
  }
}

body {
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("./images/background.png") center/cover fixed;
  background-size: 480px;
  position: relative;
  z-index: 0;
}

h2,
h3 {
  font-family: "Pacifico", cursive;
  font-size: 40px;
  font-weight: 500;
  color: #684728;
}

@media screen and (max-width: 768px) {
  h2,
  h3 {
    font-size: 32px;
  }
}

#nav-desktop {
  background: #684728;
  height: 90px;
  position: fixed;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  top: 0;
}

@media screen and (max-width: 768px) {
  #nav-desktop {
    display: none;
  }
}

.nav-itens {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 100px;
  font-size: 28px;
}

.nav-itens a {
  color: white;
  text-decoration: none;
  font-family: "Pacifico", cursive;
  font-size: 30px;
}

#nav-logo {
  border-radius: 50%;
  background: #684728;
  margin-top: 100px;
  height: 175px;
}

#nav-logo img {
  width: 200px;
  height: 160px;
}

#nav-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  #nav-mobile {
    display: flex;
    background: #684728;
    height: 90px;
    position: fixed;
    z-index: 100;
    width: 100%;
    align-items: center;
    justify-content: center;
    top: 0;
  }
}

#banner {
  display: flex;
  margin-top: 90px;
  align-items: center;
  position: relative;
}

#banner div {
  position: absolute;
  margin-left: 180px;

  @media screen and (max-width: 768px) {
    margin-left: 32px;
  }
}

#banner h1 {
  font-family: "Quicksand", cursive;
  color: #000;
  font-size: 64px;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  #banner h1 {
    font-size: 40px;
  }
}

#banner button {
  background: #684728;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-family: "Quicksand", cursive;
  font-size: 24px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #banner button {
    font-size: 20px;
  }
}

#banner img {
  min-width: 100%;
  height: 424px;
  object-fit: cover;
  object-position: 50% 60%;
}

#banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  pointer-events: none;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

hr {
  width: 300px;
  height: 1px;
  background-color: #684728;
  border: none;
}

@media screen and (max-width: 768px) {
  hr {
    width: 80px;
  }
}

#about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  scroll-margin-top: 180px;
}

#subtitle {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 0 240px;
}

@media screen and (max-width: 768px) {
  #subtitle {
    font-size: 20px;
    padding: 0 40px;
  }
}

#products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
  scroll-margin-top: 180px;
}

#products-grid {
  display: grid;
  gap: 40px;
  margin-top: 40px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  max-width: 1000px;
}

@media screen and (max-width: 768px) {
  #products-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    margin-top: 20px;
  }
}

.products-item {
  position: relative;
}

.products-image {
  width: 240px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .products-image {
    width: 150px;
    height: 220px;
  }
}

.products-description {
  background-color: #c12d3d;
  border-radius: 0 0 10px 10px;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 24px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .products-description {
    font-size: 20px;
    width: 150px;
    height: 30px;
  }
}

span {
  font-family: "Pacifico", cursive;
}

#services {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 40px;
  gap: 40px;
}

.service-circle {
  height: 245px;
  width: 1000px;
  border: 1px solid #684728;
  background-color: rgb(255, 255, 255);
  border-radius: 200px;
  display: flex;
}

@media screen and (max-width: 768px) {
  .service-circle {
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.service-circle-content {
  color: #000;
  z-index: 1;
  max-width: 544px;
  font-weight: 600;
  font-size: 16px;
  margin-right: 70px;
  margin-left: 70px;
}

@media screen and (max-width: 768px) {
  .service-circle-content {
    margin: 0;
    text-align: center;
  }
}

.service-circle-title {
  font-size: 40px;
  padding: 20px;
  margin-bottom: 35px;
}

@media screen and (max-width: 768px) {
  .service-circle-title {
    font-size: 32px;
    padding: 0;
    margin-bottom: 0;
  }
}

.service-circle-p {
  font-size: 20px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .service-circle-p {
    font-size: 16px;
  }
}

.service-circle-figure {
  object-fit: cover;
  object-position: center;
  border-radius: 200px;
}

@media screen and (max-width: 768px) {
  .service-circle-figure {
    display: none;
  }
}

#service-circle-figure-one {
  border-right: 1px solid #684728;
}

#service-circle-figure-two {
  border-left: 1px solid #684728;
}

#gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  #gallery {
    padding-left: 12px;
  }
}

.gallery-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 300px;
  padding: 40px;
  grid-gap: 2px;
  width: 800px;
}

@media screen and (max-width: 768px) {
  .gallery-grid {
    display: flex;
    overflow-x: scroll;
    gap: 8px;
    padding: 0;
    max-width: 100%;
    white-space: nowrap;
    margin-right: 12px;
  }
}

.content-gallery .gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .content-gallery .gallery-image {
    width: 200px;
    height: 300px;
  }
}

.li-1 {
  grid-row: span 1;
}

.li-2 {
  grid-row: span 2;
}

.col-1 {
  grid-column: span 1;
}

.col-2 {
  grid-column: span 2;
}

#our-contacts,
.links-contacts {
  display: flex;
  align-items: center;
}

#our-contacts {
  flex-direction: column;
  scroll-margin-top: 180px;
}

.links-contacts {
  margin-top: 40px;
  gap: 80px;
}

@media screen and (max-width: 768px) {
  .links-contacts {
    gap: 20px;
  }
}

.links-contacts img {
  height: 100px;
}

@media screen and (max-width: 768px) {
  .links-contacts img {
    height: 60px;
  }
}

.logo-ifood {
  border-radius: 20px;
}

#depositions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
  scroll-margin-top: 180px;
}

@media screen and (max-width: 768px) {
  #depositions {
    padding: 0 12px;
  }
}

.list-depositions {
  display: flex;
  gap: 20px;
  margin: 40px 0;
}

@media screen and (max-width: 768px) {
  .list-depositions {
    max-width: 100%;
    overflow-x: scroll;
  }
}

.item-depositions {
  border: 1px solid #684728;
  padding: 24px;
  border-radius: 5px;
  width: 248px;
  background-color: white;
}

.header-depositions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header-depositions {
    gap: 10px;
    align-items: flex-start;
  }
}

.speech-marks-depositions img {
  height: 30px;
}

.user-depositions img {
  height: 70px;
}

footer {
  display: flex;
  align-items: center;
  background-color: #684728;
  color: #fff;
  padding: 20px;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

#logo_footer {
  gap: 76px;
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

@media screen and (max-width: 768px) {
  #logo_footer {
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

#logo_footer img {
  object-fit: cover;
  width: 100%;
}

footer p {
  font-size: 16px;
  font-family: "Pacifico", cursive;
  width: max-content;
}

@media screen and (max-width: 768px) {
  footer p {
    text-align: center;
    font-size: 14px;
  }
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 0;
  min-width: 110px;
}

.title-list a {
  font-family: "Pacifico", cursive;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .title-list a {
    font-weight: 800;
  }
}

#content-lists {
  display: flex;
  gap: 32px;
}

@media screen and (max-width: 768px) {
  #content-lists {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
}

#icones {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  #icones {
    margin-top: 20px;
    justify-content: center;
  }
}

footer a {
  color: currentColor;
}

.logo-ifood {
  border-radius: 5px;
}
